TZ=America/Sao_Paulo
CGI_FIX_PATHINFO=0
MEMORY_LIMIT=512M
MAX_EXECUTION_TIME=600
UPLOAD_MAX_FILESIZE=16M
POST_MAX_SIZE=16M
MYSQL_HOST=192.168.0.90
GLPI_USER=glpi
GLPI_PASS=1qaz@WSX
GLPI_DB=glpi
APACHE_VHOST=noc.leandromoreirati.com.br
HTTP_PORT=80
HTTPS_PORT=443
APACHE_SRV_ADMIN=infraestrutura@leandromoreirati.com.br
DOCUMENT_ROOT=/srv/www/html/public_html/glpi
CERT_FILE=arquivo.crt
CERT_KEY=arquivo.key
