TZ=America/Sao_Paulo
CGI_FIX_PATHINFO=0
MEMORY_LIMIT=512M
MAX_EXECUTION_TIME=600
UPLOAD_MAX_FILESIZE=16M
POST_MAX_SIZE=16M
HTTP_PORT=80
HTTPS_PORT=443
MYSQL_HOST=<IP_SERVIDDOR_MYSQL>
GLPI_USER=<USUARIO_DATABASE_GLPI>
GLPI_PASS=<USUARIO_DATABASE_GLPI_PASSWORD>
GLPI_DB=<GLPI_DATABASE>
APACHE_VHOST=<APACHE_VHOST_HOST>
APACHE_SRV_ADMIN=<APACHE_SRV_ADMIN_EMAIL>
CERT_FILE=<NOME_ARQUIVO_CERTIFICADO>
CERT_KEY=<NOME_ARQUIVO_KEY>
